<a href="https://colab.research.google.com/github/Anujkurmipatel/-Data-Structure-Assignmnet/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Que1**

In [ ]:
str_1 = input("Enter the string: ")
print(str_1[::-1])

Enter the string: anuj kurmi
imruk juna

**que2**

In [ ]:
l1 = ['a','e','i','o','u','A','E','I','O','U']
str_2 = input("Enter the string: ")
count = 0
for i in str_2:
  if i in l1:
    count += 1
print("Number of vowels are: ",count)

Enter the string: anuj kurmi
Number of vowels are:  4

**Que 3**

In [ ]:
str_3 = input("Enter the string 1: ")
str_4 = str_3[::-1]
if str_3 == str_4:
  print("Strings are palindrome")
else:
  print("Strings are not palindrome")

Enter the string 1: aba
Strings are palindrome

Que 4

In [ ]:
str_5 = input("Enter the string 1: ")
str_6 = input("Enter the string 2: ")
l2 = [i for i in str_5.lower()]
l3 = [i for i in str_6.lower()]
l2.sort()
l3.sort()
if l2 == l3:
  print("Strings are anagram")
else:
  print("Strings are not anagram")

Enter the string 1: A decimal point
Enter the string 2: I'm a dot in place
Strings are not anagram

**Que 5**

In [ ]:
str_7 = input("Enter the string1: ")
str_8 = input("Enter the substring: ")
l4 = str_7.split(" ")
count = 0
for  i in l4:
  if str_8.lower() ==  i.lower():
    count += 1
print("Number of occurences are: ",count)

Enter the string1:  hello hello anuj hello
Enter the substring: hello
['', 'hello', 'hello', 'anuj', 'hello']
Number of occurences are:  3

Que 6

In [ ]:
str_9 = input("Enter the string: ")
for i in  str_9:
  if i not in l:
    l.append(i)
    count += 1

**Que 7**

In [3]:
unique_str = input("Enter the string: ")
list_1 = []
for i in unique_str:
  if i not in list_1:
    list_1.append(i)
  else:
    print("this string have  duplicate characters")
    break
else:
  print("this string have all unique characters")

Enter the string: anuj
this is unique string

**Que 8**

In [4]:
given_str = input("Enter the string: ")
print(given_str.lower())

Enter the string: ANUJ KURMI
anuj kurmi

**Que 9**

In [6]:
str_10 = input("Enter the string: ")
print(len(str_10))

Enter the string: anuj
4

**Que 10**

In [7]:
str_one = input("Enter the string1: ")
str_two = input("Enter the string2: ")
concat_str = "".join([str_one, str_two])
print(concat_str)

Enter the string1: anuj
Enter the string2: kurmi
anuj kurmi

**Que 11**

In [14]:
list1 = ['a', 'a', 'b','c','d','d']
dict1 = {}
for i in list1:
  if i not in dict1:
    dict1[i] = 1
  else:
    dict1[i] += 1
for  i,j in dict1.items():
  if j ==1:
    list1.remove(i)
print(list1)

['a', 'a', 'd', 'd']

**Que 12**

In [18]:
list2 = [3, 4,8,7,6,2,1]
s = set(list2)
list3 = list(s)
list3.sort()

print(list3[-2])

7

Que 13

In [22]:
given_list = ['a', 'a', 'b','c','d','d']
dict2 = {}
for i in given_list:
  if i not in dict2:
    dict2[i] = 1
  else:
    dict2[i] += 1
print(dict2)

{'a': 2, 'b': 1, 'c': 1, 'd': 2}

**Qure 14**

In [30]:
list4 = [1,5,4,8,9]
l = []
for i in range(0,len(list4)):
  l.append(list4[~i])
print(l)

[9, 8, 4, 5, 1]

**que 15**

In [31]:
given_list1 = ['a', 'a', 'b','c','d','d']
l_2 = []
for i in given_list1:
  if i not in l_2:
    l_2.append(i)
print(l_2)

['a', 'b', 'c', 'd']